.form {
  width: 564px;
  input {
    display: block;
    width: 100%;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 16px 0;
    padding-left: 16px;
    margin-bottom: 32px;
    color: black;
  }
}
@media screen and (max-width: 768px) {
  .form {
    width: 300px;
  }
}
